html{
    color: whitesmoke;
    background-color: rgb(98, 103, 99);
    font-size: large
}

nav{
    text-align: center;
}
nav span{
    text-decoration: none;
}
#form{
    text-align: center;
}
#gause-value{
    margin-top: 10px;
    height: 25px;
    border: solid 2px rgb(61, 57, 57);
}
#sub{
    height: 25px;
    background-color: rgb(181, 209, 37);
    margin-top: 10px;
}
#result{
    text-align: center;
}
